.content{
    position: fixed;
    width: 85%;
    height: 90%;
    bottom: 0;
    left: 15%;
    transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.content.slide-content{
    left: 75px;
    width: 95%;
    transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}